/* 1. Imports
2. General
3. Mobile
4. Larger Screens */

/* 1. Imports  */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url('normalize.css');

/* 2. General */

.hide{
    display: none;
  }
  
  
/* Set the default font and font size. */

body{
    font-family: helvetica, sans-serif;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: Sansita, sans-serif;
}

/* Format the header. */
header{
    text-align: center;
    background-color: #0e89d5;
}   

/* Set font size and inline format for the zip, elevation, and location. */
#zipetc{
    font-size: 12px;
}
 #zipetc p{
     display: inline;
 }

#temperature{
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 15px;
    background: transparent;
    text-align: center;
}


body #hightemp{
    color: red;
}

body #lowtemp {
    color: blue;
}

span{
    display: inline;
}

#wind{
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 15px;
    background: transparent;
    text-align: center;
}

#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/images/weather-site-images/weather-site-images/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
}
#forecast{
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 15px;
    background: transparent;
    text-align: center;
}

#hourly{
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 15px;
    text-align: center;
}
#hourlyforecast {
    overflow-x: scroll;
    white-space: nowrap;
}
li {
    display: inline;
}

footer{
    background-color:#0e89d5;
}

#navbar{
    text-align: center;
    word-spacing: 20px;
    background-color:#0e89d5;
    display: flex;
    justify-content: space-around;
}

/* Rotate the wind dial according to the wind direction.*/

.n{
    transform:rotate(0deg);
}
.ne{
    transform:rotate(45deg);
}
.e{
    transform:rotate(90deg);
}
.se{
    transform:rotate(135deg);
}
.s{
    transform:rotate(180deg);
}
.sw{
    transform:rotate(225deg);
}
.w{
    transform:rotate(270deg);
}
.nw{
    transform:rotate(315deg);
}

/* Set the background images*/
#curWeather{
    background-size: cover;
    }
.rain{
    background-image: url(/weather/images/weather-site-images/optimized-images/rain-mobile.jpg);
}
.snow{
    background-image: url(/weather/images/weather-site-images/optimized-images/snow-mobile.jpg);
}
.fog{
    background-image: url(/weather/images/weather-site-images/optimized-images/fog-mobile.jpg);
}
.clear{
    background-image: url(/weather/images/weather-site-images/optimized-images/clear-mobile.jpg);
}
.clouds{
    background-image: url(/weather/images/weather-site-images/optimized-images/clouds-mobile.jpg);
}

/* 3. Mobile */

#logo{
    width: 100px;
    height: 100px;
}

h1{
    font-size: 40px;
}

#currenttemp {
    font-size: 5em;
}

.rain {
    background-image: url(/weather/images/weather-site-images/optimized-images/rain-mobile.jpg);
    background-size: cover;

}

/* 4. Larger Screens*/

@media screen and (min-width: 800px) 
{ 
    header  {
        height: 125px;
    }
    nav{
        position: absolute;
        top: 135px;
    }
    #curWeather{
        display: flex;
        justify-content: space-around;
    }

/* Set the background images*/

    .rain{
        background-image: url(/weather/images/weather-site-images/optimized-images/rain-large.jpg);
    }
    .snow {
        background-image: url(/weather/images/weather-site-images/optimized-images/snow-large.jpg);
    }
    .fog{
        background-image: url(/weather/images/weather-site-images/optimized-images/fog-large.jpg);
    }
    .clear{
        background-image: url(/weather/images/weather-site-images/optimized-images/clear-large.jpg);
    }
    .clouds{
        background-image: url(/weather/images/weather-site-images/optimized-images/clouds-large.jpg);
    }
    
}    
