/* 1. Imports
2. General
3. Mobile
4. Larger Screens */

/* 1. Imports */
@import url('normalize.css');

@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

/* 2. General  */

.hide {
    display: none !important;
}

body {
    background-image: url(../images/site/background.jpg);
}

#body-div {
    background-color: #ffffff;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}


header {
    background-color: #ffffff;
    margin-bottom: 0%;
}

/* h2{
    background-color: #ffffff;
    border-bottom-width: medium;
    border-bottom-color: black;
} */



h2 {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

nav {
    background-color: #de2226; 
    display:flex;
    height: 60px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav li{
    padding-right: 10px;
}

nav ul{
    margin-top: 0%;
    width: 40%;
    display: flex;
    list-style-type: none;
    padding-left: 5px;
}

 nav li{
    align-items: flex-start;
    width: 400px;
    flex: 0 1 50%;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}

footer{
    font-family: helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}

#acme-rocket{
    background-image: url(../images/site/feature.jpg);
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: flex-end;
}

#acme-rocket ul {
 color: #990033;
 background-color: rgb(179,224,241,0.5); 
}

#acme-rocket li {
    list-style:none;
}


#rocket-reviews {
    font-family: helvetica, sans-serif;
    font-size: 17px;
    color: #000000;
}

#featured-recipes {
    font-family: helvetica, sans-serif;
    font-size: 15px;
}

#recipelist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

#featured-recipes div{
    display: flex;
    justify-content: center;
}

#featured-recipes h2 {
    text-align: left;
    padding-left: 70px;
}

.imageList {
    background-color: #cccccc;
    width: 80%;
}

#content-image {
    width: 100%;
    height: 50%;
}

#content-description {
    font-family:helvetica, sans-serif;
    font-size: 15px;
}

#made-by-content, #made-by, #reviews, #reviews-content {
    font-family: helvetica, sans-serif;
    font-size: 17px;
}

#price, #price-content {
    font-family: helvetica, sans-serif;
    font-size: 30px;
    color: #de2226;
}

#price-content {
    font-weight: bold;
}








@media screen and (min-width: 800px) 
{ 
    #reviewsRecipes {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    #rocket-reviews {
        text-align: left;
    }


    #acme-rocket {
        background-size: cover;
        height: 500px;
    }

    #acme-rocket ul {
        padding-right: 166px;
    }
    nav li{
        padding-left: 5px;
    }

    h1 {
        font-size: 90px;
    }

    h3{
        font-size: 40px;
    }

    h1 + h3 {
        margin-top: -80px;
    }

    h2 {
        font-size:35px;
    }

    #contentPage {
        display: flex;
    }

    #contentColumn {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 30px;
    }

    #contentHead {
        display: flex;
        flex-direction: column;
    }

    #content-image {
        width: 75%;
        height: 75%;
    }

    footer{
        margin-top: 75px;
    }

    #body-div {
        width: 85%;
    }




}